@import "colors";
@media screen and (max-width: 830px) {
  .home2 {
  
    padding: 10%;
    height: 70vh;
    > img {
      width: 90%;
      height: auto;
    }
    > div {
      gap: 0;
      justify-content: baseline;
      align-items: baseline;
      width: 90%;
      height: 30vh;
      padding: 0;
    }
  }
  .home3 {
    border: red 2px solid;
    padding: 10% 0;
    height: 70vh;
    align-items: flex-start;
    > div {
      height: 70vh;
      padding: 10%;
      text-align: center;
      border-radius: 200px;
    }
    > img {
      display: none;
    }
  }
  .home4{
    margin-top: -2px;
    justify-content: center;
    align-items: center;
    >div{
        height: 60vh;
        border-radius: 200px;
    }
    >img{
      display: none;
    }
  }
  .contact{
    >img{
      display: none;
    }
    }
       .containr {
        >img{
          display: none;
        }
      }
    .services{
      height: 140vh;
      background-color: $second;
    }
    .services2{
      width: 100%;
      height: 100vh;
      // border: 2px red solid;
      flex-wrap: wrap;
      // margin: 20% 0;
      padding: 10% ;
      >article{
        // border: 2px green solid;
        // margin-top: 0;
        // padding: 0;
        margin: 5% 0;
        >div{
          // border: 2px yellw solid;
          // margin-top: 0;
        }
      }
    }
}